ultralytics==8.1.24
mediapipe==0.10.11
opencv-python==4.9.0.80
torch==2.2.1
torchvision==0.17.1
onnxruntime==1.17.1
pygame==2.5.2
twilio==9.0.0
loguru==0.7.2
fastapi==0.110.0
uvicorn==0.29.0
sqlalchemy==2.0.28
plotly==5.20.0
gradio==4.22.0
pydantic==2.6.4
pydantic-settings==2.2.1
python-dotenv==1.0.1
numpy==1.26.4
huggingface-hub==0.23.1
